.news-detail-container {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
}

.news-detail-container .news-detail-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  width: 90vh;
  height: 60vh;
}

.news-detail-container .news-detail-info {
  display: grid;
  grid-template-columns: 1fr;
}

.news-detail-container .news-content-img-responsive {
  background-position: center center;
  background-size: cover;
}

.news-detail-container .news-detail-first,
.news-detail-second {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.news-detail-container .img-responsive-first {
  background-image: url("../../img/Taiwan2.jpg");
}

.news-detail-container .img-responsive-second {
  background-image: url("../../img/Japan.jpg");
}

.news-detail-container .img-responsive-third {
  background-image: url("../../img/Poland.jpg");
}

.news-detail-container .news-detail-firts-title {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #262626;
}

.news-detail-container .news-detail-second {
  cursor: pointer;
}

.news-detail-container .news-detail-second:hover {
  transform: 1.01;
  overflow: hidden;
  z-index: 1;
  border: none;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}
.news-detail-container .news-detail-second-title {
  font-family: "Gelasio", serif;
  color: #646464;
  width: 80%;
  letter-spacing: 0.01px;
}

.news-detail-container .news-detail-third {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.news-detail-container .news-detail-third svg:last-child {
  padding: 0px;
  margin: 1.2em;
}

.news-detail-container .news-detail-third a {
  margin: 0;

  color: #000;
}

.news-detail-container .news-detail-third svg {
  width: 25px;
  height: 25px;
  margin: 1.3em;
  cursor: pointer;
}

.pop {
  background-color: cornsilk;
}

.news-detail-container .dialog-container {
  display: flex;
  justify-content: center;
  background-color: #fff9;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.news-detail-container .dialog-content {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  width: 700px;
  height: 800px;
  z-index: 999;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.news-detail-container .dialog-in {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  width: 80%;
}

.news-detail-container .dialog-in .dialog-h {
  font-family: "Gelasio", serif;
  color: #646464;
  font-weight: 100;
  margin: 0.9rem;
}

.news-detail-container .dialog-img-carousel {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 1rem;
}

.owl-carousel {
  touch-action: none;
  width: 100%;
  height: 80%;
  padding: 0.5rem;
}

.owl-carousel .owl-item img {
  height: 300px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}
.news-detail-container .dialog-btn {
  width: 100%;
}

.news-detail-container .dialog-btn:hover {
  background-color: #1976d23f;
  transition: 0.2s ease-out;
}

.news-detail-container .dialog-btn:hover > .btn-close-dialog-box {
  color: #fff;
  transition: 0.2s ease-out;
}

.news-detail-container .btn-close-dialog-box {
  padding: 1.2rem;
  border: none;
  font-size: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  color: #646464;
}
