/* rgb(227, 247, 255); */
/* color: #2c3643; */

.news-letter-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10rem;
}

.news-letter-container .news-letter-form-container {
  width: 50%;
  background-color: rgb(188, 223, 239);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  justify-content: center;
  padding-bottom: 48px;
  padding-top: 48px;
}

.news-letter-container .news-letter-heading {
  color: #2c3643;
  border-bottom-width: 1px;
}
.news-letter-container .news-letter-form-title {
  color: rgba(44, 54, 67, 0.7);
  width: 40%;
  font-size: 14px;
  padding: 1rem;
}

.news-letter-container .news-lettter-form {
  margin-top: 25px;
  max-width: 410px;
  width: 100%;
}

.news-letter-container .news-letter-email {
  background-color: rgb(255, 255, 255);
  display: flex;
  border-radius: 2px;
  border: 0;
  color: rgb(44, 54, 67);
  height: 44px;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5;
  padding: 4px 16px 0px;
  width: 100%;
  transition: backgroundColor 200ms ease 0s, border-bottom-color 200ms ease 0s,
    color 200ms ease 0s;
}

.news-letter-container input:focus {
  border-color: none;
  border: none;
  box-shadow: 0 0 10px #719ece;
  border: 1px solid rgb(255, 245, 236);
  outline-color: #719ece;
}

.news-letter-container .news-letter-btn {
  border: 0;
  border-radius: 2px;
  cursor: pointer;

  font-weight: 600;
  line-height: 1;
  overflow: hidden;

  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  letter-spacing: 0.6px;
  text-transform: uppercase;

  vertical-align: middle;
  white-space: nowrap;
  background-color: #297cbb;
  color: #fff;
  box-shadow: none;
  font-size: 11px;
  padding-bottom: 1.3636363636363635em;
  padding-top: 1.6363636363636365em;
  margin-top: 20px;
  min-width: 100%;
  opacity: 0.5;
}
