/*================================================
Main Banner CSS
=================================================*/
@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gelasio&display=swap");
:root {
  --withe: #fff;
  --yellow-dark: rgb(150, 154, 129);
  --light-blue: #89cff0;
  --icon-blue: #6388aa;
  --font-one: "Fredoka One", cursive;
  --header-color-secondary: rgba(34, 34, 34, 0.52);
  --header-color: rgba(54, 130, 130, 0.13);
  --green-btn: #16cc55;
  --btn-blue: #4eaedc;
  --btn-hove: #469ec7;
}

.main-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main-banner .banner-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 90%;
}

.container-hero-title,
.container-hero-sub-title {
  display: flex;
}

.main-banner .banner-content-text {
  text-align: start;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-self: end;
  height: 60%;
}

.main-banner .banner-content-text .hero-title {
  display: grid;
  max-width: 550px;
  font-size: 4rem;
  font-family: "Playfair Display", serif;
}

.main-banner .banner-content-text .hero-sub-title {
  font-size: 1rem;
  letter-spacing: 0.02rem;
  width: 90%;
  height: 100%;
  color: #646464;
  font-family: "Gelasio", serif;
}

.main-banner .hero-span-title {
  color: red;
}

.main-banner .banner-content-img .banner-img-responsive {
  width: 55%;
  height: 100%;
}

.main-banner .banner-content-left {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.main-banner .banner-content-left .banner-content-left-link {
  color: #000;
  width: 45px;
  height: 45px;
}

.main-banner .banner-content-left a svg {
  width: 25px;
  height: 25px;
}

/* Mobile phones (portrait and landscape) ---------- */
@media screen and (max-width: 767px) {
}
/* Tablets and iPads (portrait and landscape) ---------- */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}
/* Low resolution desktops and laptops ---------- */
@media screen and (min-width: 1024px) {
}

/* High resolution desktops and laptops ---------- */
@media screen and (min-width: 1200px) {
  .main-banner .banner-content {
    width: 90%;
  }
  .main-banner .banner-content-text {
    grid-gap: 1rem;
  }
  .main-banner .banner-content-text .hero-title {
    font-size: 2.5rem;
    align-items: end;
  }
  .main-banner .banner-content-img .banner-img-responsive {
    width: 65%;
    height: 80%;
  }
  .main-banner .banner-content-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

/* High resolution desktops and laptops ---------- */
@media screen and (min-width: 1600px) {
  .main-banner .banner-content {
    grid-template-columns: 1fr 2fr 1fr;
    width: 90%;
    grid-gap: 1rem;
  }
  .main-banner .banner-content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  .main-banner .banner-content-left {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .main-banner .banner-content-text {
    grid-gap: 1rem;
  }
  .main-banner .banner-content-text .hero-title {
    align-items: end;
  }
  .main-banner .banner-content-text .hero-sub-title {
    font-size: 1rem;
    letter-spacing: 0.02rem;
    width: 90%;
    height: 100%;
    color: #646464;
    font-family: "Gelasio", serif;
  }
}
