.travel-section {
  margin-top: 6rem;
}
.travel-section .travel-heade {
  color: #222;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1px;
  margin: 0 auto 20px auto;
}

.travel-section .travel-subtitle {
  font-style: normal;
  font-weight: 400;
  color: #646464;
  font-size: 1.2rem;
  line-height: 25px;
  color: #646464;
  margin-bottom: 80px;
}

.travel-section .travel-img {
  background-image: url("../../img/trusting.jpg");
  height: calc(100vh - 7rem);
  max-width: 1360px;
  margin: 0 auto;
  background-position: center center;
  background-size: cover;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}
