.register-section {
  display: flex;
  margin-top: 5rem;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
}

.register-section .form {
  display: flex;
  width: 50%;
  height: 80vh;
}

.register-section .register-form-img-container {
  width: 45%;
  height: calc(100vh - 7rem);
  position: absolute;
  right: 0;
  background-image: url("../../img/coffee.jpg");
  background-position: center center;
  background-size: cover;
}
/*================================================
SING UP CSS
=================================================*/

.register-section .register-form-img-container .img-small-box {
  position: absolute;
  width: 33.33%;
  height: 90%;
  top: 30px;
  left: -50px;
  z-index: -1;
  background: var(--light-blue);
}

.form-container .form-control-last {
  border-radius: 0 0 7px 7px;
  margin-top: -10px;
  border-top: 0;
}

.form-container .form-control-middle {
  margin: 0;
}

.form-footer {
  margin: 30px 0 10px 0;
  color: rgba(0, 0, 0, 0.6);
}

.form-container .form-footer-link {
  text-decoration: none;
  color: var(--light-blue);
  font-weight: 600;
}

.error {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: #c74a47;
  background-color: #fbe2e2;
  margin: 0.5rem;
  border-radius: 4px;
  padding: 0.4rem;
  letter-spacing: 0.1px;
}

.confirm {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  margin: 0.5rem;
  border-radius: 4px;
  padding: 0.4rem;
  letter-spacing: 0.1px;
}
